  <div class="row edit-profile">
    <div class="col-xs-10">
      <h1>Edit My Profile:</h1>
      <h5 class="my-reviews"><%= link_to("See My Reviews", my_reviews_path, method: :get) %></h5>
      <h4>On this page you can edit your profile by tapping into it.  Be careful, it will save automatically!</h4>
    </div>
  </div>

  <div class = "row edit-profile">
    <div class="col-xs-4"><strong>Username:</strong></div>
        <div class= "col-xs-6"> 
          <%= best_in_place @profile, :username, :data => {:profile_username => @profile.username}, :classes => 'highlight_on_success', :as => :input %>
        </div>
  </div>

  <div class="row edit-profile">
    <div class="col-xs-4"><strong>First name:</strong></div>
        <div class="col-xs-6">
          <%= best_in_place @profile, :fname, :data => {:profile_fname => @profile.fname}, :classes => 'highlight_on_success', :as => :input %>
        </div>
  </div>

  <div class="row edit-profile">
    <div class="col-xs-4"><strong>Last name:</strong></div>
        <div class="col-xs-6">
          <%= best_in_place @profile, :lname, :data => {:profile_lname => @profile.lname}, :classes => 'highlight_on_success', :as => :input %>
        </div>
  </div>

  <div class="row edit-profile">
    <div class="col-xs-4"><strong>Borough:</strong></div>
        <div class="col-xs-6">
          <%= best_in_place @profile, :borough, :data => {:profile_borough => @profile.borough}, :classes => 'highlight_on_success', :as => :input %>
        </div>
  </div>

  <div class="row edit-profile">
    <div class="col-xs-4"><strong>Neighborhood:</strong></div>
        <div class="col-xs-6">
          <%= best_in_place @profile, :neighborhood, :data => {:profile_neighborhood => @profile.neighborhood}, :classes => 'highlight_on_success', :as => :input %>
        </div>
  </div>
  <br>
  <div class="row edit-profile">
    <div class="col-xs-4">
      <%= bootstrap_form_for @profile, :url => profile_path(@profile.id), :html => { :multipart => true} do |f| %>
      <%= f.file_field :avatar, hide_label: true, class: "pick_file" %>
      <%= f.submit :Update, class: "update_file", style: "display:none" %>
      <% end %>
    </div>

  <div class="row edit-profile">
    <%= image_tag @profile.avatar.url(:medium), class: "profile-avatar" %>
  </div>
</div>