<div class="row adjust">
   <div class="col-xs-10">  
			<div><span class="heading">My Profile</span> </div>
    </div>
</div>

 <% @profiles.each do |profile| %>
 	<div class="col-xs-10">  
    <ul> 
      <li><%= image_tag profile.avatar.url(:medium) %></li>
    	<li><strong>User Name:</strong> <%= profile.username %></li>
      <li><strong>Name:</strong> <%= profile.full_name %></li>
      <li><strong>Borough:</strong> <%= profile.borough %></li>
      <li><strong>Neighborhood:</strong> <%= profile.neighborhood %></li>
    </ul>
  </div>

 <% end %>