<% if user_signed_in? && current_user.id == @profile.user_id %>

  <div class="row adjust">
      <div class="col-xs-10">  

        <div><span class="heading">My Profile</span> <%= link_to('<i class="fa fa-2x fa-pencil-square"></i>'.html_safe, edit_profile_path(@profile.id), method: :get) %></div>

        <h6><%= link_to("Edit My Profile", edit_profile_path(@profile.id), method: :get) %></h6>
        <h6><%= link_to("See My Reviews", "/user_reviews/#{current_user.id}", method: :get) %></h6>
        <br><br>
        <div>
          <%= image_tag @profile.avatar.url(:medium) %>
        </div>

      </div>
  </div>
<br>
<% else %>

  <div class="row adjust">
      <div class="col-xs-10">  
        <h1><%= @profile.username %>'s Profile <%= link_to("(Check Out Their Reviews)", "/user_reviews/#{@profile.user.id}", method: :get) %></h1>
      </div>
  </div>
<br>
<% end %>

<div class="row adjust">
  
  <div class="col-xs-10">  
    <ul> 
      <li><strong>Name:</strong> <%= @profile.full_name %></li>
      <li><strong>Borough:</strong> <%= @profile.borough %></li>
      <li><strong>Neighborhood:</strong> <%= @profile.neighborhood %></li>
    </ul>
  </div>
</div>


<div class="row adjust">
  
  <div class="col-xs-4">
    <!-- Empty Div for spacing -->
  </div>

</div>


