<% if user_signed_in? && current_user.id == @profile.user_id %>

  <div class="row adjust">
      <div class="col-xs-12">  

        <div><span class="heading">My Profile</span> <%= link_to('<i class="fa fa-2x fa-pencil-square"></i>'.html_safe, edit_profile_path(@profile.id), method: :get) %></div>

        <div class="col-xs-10 edit-profile">See My Reviews <%= link_to("<i class='fa fa-list'></i>".html_safe, "/user_reviews/#{current_user.id}", method: :get) %></div>

        <br><br>

      </div>
  </div>
  <div class="row adjust edit-profile">
    <div class="edit-profile">
      <%= image_tag @profile.avatar.url(:medium) %>
    </div>
  </div>

<br>

<% else %>

  <div class="row edit-profile">
      <div class="col-xs-10">  
        <h1><%= @profile.username %>'s Profile <%= link_to("(Check Out Their Reviews)", "/user_reviews/#{@profile.user.id}", method: :get) %></h1>
      </div>
  </div>
<br>
<% end %>

<div class="row edit-profile">
      
    <div class="col-xs-4"><strong>Name:</strong></div>
    <div class="col-xs-6"><%= @profile.full_name %></div>

</div>

<div class="row edit-profile">
    
    <div class="col-xs-4"><strong>Borough:</strong></div> 
    <div class="col-xs-6"><%= @profile.borough %></div>
    
</div>

<div class="row edit-profile">
    <div class="col-xs-4"><strong>Neighborhood:</strong></div>
    <div class="col-xs-6"><%= @profile.neighborhood %></div>
</div>

