<% if user_signed_in? && current_user.id == @profile.user_id  %>  

<div class="row">
  <div class="col-xs-4">
    <%= bootstrap_form_for @profile, :url => profile_path(@profile.id), :html => { :multipart => true} do |f| %>
      <%= f.file_field :avatar %>
      <%= f.submit :Update%>
    <% end %>
  </div>
  <div class="col-xs-4">
    <%= image_tag @profile.avatar.url(:medium), class: "profile-avatar" %>
  </div>
</div>

    <br><br>

  <div class = "col-xs-10">
    <ul>
      <li class = "form-control"><%= best_in_place @profile, :username, :data => {:profile_username => @profile.username}, :classes => 'highlight_on_success', :as => :input, :place_holder => "Add your username" %></li>

      <li class = "form-control"><%= best_in_place @profile, :fname, :data => {:profile_fname => @profile.fname}, :classes => 'highlight_on_success', :as => :input, :place_holder => "Add your first name" %></li>

      <li class="form-control"><%= best_in_place @profile, :lname, :data => {:profile_lname => @profile.lname}, :classes => 'highlight_on_success', :as => :input, :place_holder => "Add your last name" %></li>

      <li class="form-control"><%= best_in_place @profile, :borough, :data => {:profile_borough => @profile.borough}, :classes => 'highlight_on_success', :as => :input, :place_holder => "Add your borough" %></li>

      <li class="form-control"><%= best_in_place @profile, :neighborhood, :data => {:profile_neighborhood => @profile.neighborhood}, :classes => 'highlight_on_success', :as => :input, :place_holder => "Add your neighborhood" %></li>
    </ul>
  </div>

<% else %>
  <div class="col-xs-10">
    
    <ul>
   
      <li><%= @profile.username %></li>
      <li><%= @profile.fname %></li>
      <li><%= @profile.lname %></li>
      <li><%= @profile.borough %></li>
      <li><%= @profile.neighborhood %></li>
      <li><%= image_tag @profile.avatar.url(:medium) %></li>
      
    </ul>
    
  </div>
<% end %>
  