
  <div class="col-xs-4">
    <h2>Station Name:</h2> 
    <h3><%= @station.name %></h3>
  </div>
  <div class="col-xs-4">
    <h2>Train Line(s):</h2>
    <h3><%= @station.line %></h3>
  </div>
  <div class="col-xs-4">
    
    <% if user_signed_in? && @profile.username.nil? %>
      <h6><%= link_to("Create username to make a review", edit_profile_path(@profile), method: :get) %></h6>
  
    <% elsif user_signed_in? %>
      <h6><%= link_to("New Review", new_station_review_path(@station), method: :get) %></h6>
    <%else%>
      <h6><%= link_to("Sign in to make a review",new_user_session_path, method: :get ) %></h6>
    <% end %>
  </div>

<br>

<div class="row adjust">
  <div class="col-xs-12 review-header">
    Station Reviews:
  </div>
</div>

<% @reviews.reverse_each do |review| %>

  <div class="row click-row" data-href="/stations/<%= review.station_id %>/reviews/<%= review.id %>">
    <div class="col-xs-2 date"><%= review.date_seen.strftime("%-m/%-d/%Y") %></div>
    <div class="col-xs-8 title"><%= review.title %></div>
    <div class="col-xs-2 avatar"><%= image_tag(review.avatar.url(:thumb)) %></div>
  </div>


<% end %>
