<div class="row adjust">
  <div class="col-xs-1"></div>
  <div class="col-xs-5">
    <strong>Station Name:</strong> 
  </div>
  <div class="col-xs-5">
    <strong><%= @station.name %></strong>
  </div>
</div>
<br>
<div class="row adjust">
  <div class="col-xs-1"></div>
  <div class="col-xs-5">
    <strong>Train Line:</strong> 
  </div>
  <div class="col-xs-5">
    <strong><%= @lines_as_src.html_safe %></strong>
  </div>
</div>
<br>
  <div class="row adjust">
    <div class="col-xs-1"></div>
    <% if user_signed_in? && @profile.username.nil? %>

      <div class="col-xs-10">Create username to make a review <%= link_to('<i class="fa fa-2x fa-user"></i>'.html_safe, edit_profile_path(@profile), method: :get) %></div>

  
    <% elsif user_signed_in? %>
  
     

    <%else%>

      
        <div class="col-xs-7">
          <strong>Sign in to make a review</strong>
        </div>
        <div class="col-xs-1">
           <%= link_to('<i class="fa fa-2x fa-sign-in"></i>'.html_safe, new_user_session_path, method: :get) %>
        </div>
      

    <% end %>
  </div>

<br>

<div class="row adjust">
  <div class="col-xs-6 review-header">
    Station Reviews: 
  </div>

  <div class="col-xs-1">
    <% if user_signed_in? %>
     <%= link_to('<i class="fa fa-2x fa-plus"></i>'.html_safe, new_station_review_path(@station), method: :get) %>
     <% end %>
  </div>
</div>

<% @reviews.reverse_each do |review| %>

  <div class="row click-row" data-href="/stations/<%= review.station_id %>/reviews/<%= review.id %>">
    <div class="col-xs-2 date"><%= review.date_seen.strftime("%-m/%-d/%Y") %></div>
    <div class="col-xs-8 title"><%= review.title %></div>
    <div class="col-xs-2 avatar"><%= image_tag(review.avatar.url(:thumb)) %></div>
  </div>


<% end %>
