
<div id="search_results">

  <% if !params[:query].blank? %>
    
    <h2>Results:</h2>

    <div id="user_results">

      <% if !(@profile_presence == 0) %>
        <h3>From Users:</h3>
        <ul>

          <% if !@profiles_u.blank? %>
            <li>By Username:</li>
            <ol>
              <% @profiles_u.each do |u| %>
                <li><%= link_to(u.username, profile_path(u.id), method: :get) %></li>
              <% end %>
            </ol><br>
          <% else %>
            <li>No Username Matches!</li>
          <% end %>

          <% if !@profiles_f.blank? %>
            <li>By First Name:</li>
            <ol>
              <% @profiles_f.each do |u| %>
                <li><%= link_to(u.fname, profile_path(u.id), method: :get) %></li>
              <% end %>
            </ol><br>
          <% else %>
            <br>
            <li>No First Name Matches!</li>            
          <% end %>

          <% if !@profiles_l.blank? %>
            <li>By Last Name:</li>
            <ol>
              <% @profiles_l.each do |u| %>
                <li><%= link_to(u.lname, profile_path(u.id), method: :get) %></li>
              <% end %>
            </ol>
          <% else %>
            <br>
            <li>No Last Name Matches!</li>
          <% end %>

        </ul>
      <% else %>
        <h3>No Profile Matches!</h3>
      <% end %>
    </div>

    <div id="review_results">
      <% if !(@review_presence == 0) %>
        <h3>From Reviews:</h3>
        <ul>
          
          <% if !@reviews_t.blank? %>
            <li>By Review Title:</li>
            <ol>
              <% @reviews_t.each do |r| %>
                <li><%= link_to(r.title, station_review_path(r.station.id, r.id), method: :get) %></li>
              <% end %>
            </ol><br>
          <% else %>
            <li>No Title Matches!</li>
          <% end %>

          <% if !@reviews_c.blank? %>
            <li>By Review Content:</li>
            <ol>
              <% @reviews_c.each do |r| %>
                <li><%= link_to(r.content, station_review_path(r.station.id, r.id), method: :get) %></li>
              <% end %>
            </ol><br>
          <% else %>
            <br>
            <li>No Content Matches!</li>
          <% end %>

          <!-- Need artist name/instruments/moreinfo -->

        </ul>
      <% else %>
        <h3>No Review Matches!</h3>
      <% end %>
    </div>

    <div id="station">
      <% if !(@station_presence == 0) %>
        <h3>From Stations:</h3>
        <ul>
          
          <% if !@stations_n.blank? %>
            <li>By Station Name:</li>
            <ol>
              <% @stations_n.each do |s| %>
                <li><%= link_to("#{s.name} (#{s.line})", station_path(s.id), method: :get) %></li>
              <% end %>
            </ol><br>
          <% else %>
            <li>No Name Matches!</li>
          <% end %>

          <% if !@stations_l.blank? %>
            <li>By Line:</li>
            <ol>
              <% @stations_l.each do |s| %>
                <li><%= link_to("#{s.name} (#{s.line})", station_path(s.id), method: :get) %></li>
              <% end %>
            </ol><br>
          <% else %>
            <br>
            <li>No Line Matches!</li>
          <% end %>

        </ul>
      <% else %>
        <h3>No Station Matches!</h3>
      <% end %>
    </div>
    <br>
    <h4>Search Again:</h4>

  <% else %>

  <h2>No Results? Try again...</h2>


  <% end %>
  <form role="form" action="/results" method="post" id="search_form2">  
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." name="query" id="search_field2">
      <span class="input-group-btn">

        <script type="text/javascript">
          function search_submit() {
            $("#search_form2").submit()  
          }
        </script>
        
        <button class="btn btn-default" id="search_button2" type="button" onclick="search_submit()">Go!</button>
      </span>
    </div>
  </form>
</div>