<div class="row edit-review">
  <h1>Edit <%= link_to("My", profile_path(current_user.profile.id), method: :get) %> Review:</h1>
  <h4>On this page you can edit your review by tapping into it.  Be careful, it will save automatically!</h4>
</div>

<div class="row edit-review ">
  <div class="col-xs-4">Title:</div>
    
      <div class= "col-xs-6">
        <%= best_in_place @review, :title, :url => station_review_path, :data => {:review_title => @review.title}, :class => 'highlight_on_success', :as => :input %>
    </div>
  
</div>

<div class="row edit-review">
  <div class="col-xs-4">Date Seen:</div>
    
     <div class= "col-xs-6">
      <%= best_in_place @review, :date_seen, :url => station_review_path, :data => {:review_date_seen => @review.date_seen.strftime("%-m/%-d/%Y")}, :class => 'highlight_on_success', :as => :input, :display_as => :format_date %>
    </div>

</div>

<div class="row edit-review">
  <div class="col-xs-4">Rating:</div>
    <%= bootstrap_form_for(@review, url: station_reviews_path, method: :post) do |r| %>
      
      <div class="col-xs-2">
        <a href="/rating_down/<%= @review.id %>" data-remote="true" data-rating="false" class="rating">
          <%= r.radio_button :rating, false, class: "radio" %>
          <i class="fa fa-5x fa-thumbs-o-down" id="down"></i>
        </a>
      </div>

      <div class="col-xs-2">
        <!-- Div for spacing -->
      </div>

      <div class="col-xs-2">
        <a href="/rating_up/<%= @review.id %>" data-remote="true" data-rating="true" class="rating">
          <%= r.radio_button :rating, true, class: "radio" %>
          <i class="fa fa-5x fa-thumbs-o-up" id="up"></i>
        </a>
      </div>
      
    <% end %>
  
</div>

<div class="row edit-review">
  <div class="col-xs-4">Content:</div>
    
      <div class= "col-xs-6">    
        <%= best_in_place @review, :content, :display_with => :simple_format, :url => station_review_path, :data => {:review_content => @review.content}, :class => 'highlight_on_success', :as => :input %>
    </div>
  
</div>

<div class="row edit-review">
  <div class="col-xs-4">Artist Name:</div>
    
      <div class= "col-xs-6">
        <%= best_in_place @review, :artist_name, :url => station_review_path, :data => {:review_artist_name => @review.artist_name}, :class => 'highlight_on_success', :as => :input %>
    </div>
 
</div>

<div class="row edit-review">
  <div class="col-xs-4">Instruments:</div>
    
      <div class= "col-xs-6">
        <%= best_in_place @review, :instruments, :url => station_review_path, :data => {:review_instruments => @review.instruments}, :class => 'highlight_on_success', :as => :input %>
    </div>
  
</div>

<div class="row edit-review">
  <div class="col-xs-4">More Info:</div>
    
     <div class= "col-xs-6">
      <%= best_in_place @review, :add_info, :url => station_review_path, :data => {:review_add_info => @review.add_info}, :class => 'highlight_on_success', :as => :input %>
    </div>
  
</div>

<div class="row edit-review">
  <div class="col-xs-3">
    <%= bootstrap_form_for @review, :url => station_review_path(@review.station_id, @review), :html => { :multipart => true} do |f| %>
    <%= f.file_field :avatar, class: "pick_file" %>
    <%= f.submit :Update, class: "update_file", style: "display:none" %>
    <% end %>
  </div>
</div>
<br>
<div class="row edit-review">
    <%= image_tag @review.avatar.url(:medium), class: "edit-review" %>
</div>
<br>
<div class="row edit-review">
  <div class="col-xs-12">
    <%= link_to("DELETE REVIEW", station_review_path(@review.station_id, @review), method: :delete) %>
  </div>
</div>