<div class="row edit-profile">
  <div class="col-xs-12">  
    <div><span class="heading_profile"><%= @user.profile.username %>'s Reviews</span></div>
    <h5>Check Out Their Profile<%= link_to('<i class="fa fa-user"></i>'.html_safe, "/profiles/#{@user.profile.id}", method: :get) %></h5>
  </div>
</div>

<% @reviews.reverse_each do |review| %>

   <div class="row click-row" data-href="/stations/<%= review.station_id %>/reviews/<%= review.id %>">
    <div class="col-xs-2 date"><%= review.date_seen.strftime("%-m/%-d/%Y") %></div>
    <div class="col-xs-8 title"><%= review.title %></div>
    <div class="col-xs-2 avatar"><%= image_tag(review.avatar.url(:thumb)) %></div>
  </div>

<% end %>