<% if user_signed_in? && current_user.id == @review.user_id %>

  <div class="col-xs-12">

    <div><span class="heading">My Review </span><%= link_to('<i class="fa fa-2x fa-pencil-square"></i>'.html_safe, edit_station_review_path(@review.station.id, @review.id), method: :get) %><%= link_to('<i class="fa fa-2x fa-user"></i>'.html_safe, profile_path(current_user.profile.id), method: :get ) %></div> 
      
  </div>
    

<% else %>

  <div class="col-xs-12">

    <h1>Review Left By: <%= link_to(@username, profile_path(@profile), method: :get ) %></h1>

  </div>

<% end %>

<div class="row adjust">
  <div class="col-xs-12"></div>

    <ul>

      <li><strong>Title:</strong> <%= @review.title %></li>

      <li><strong>Date Seen:</strong> <%= @review.date_seen.strftime("%-m/%-d/%Y") %></li>

      <li><%= image_tag(@review.avatar.url(:medium)) %></li>

      <li class="rating">
       <strong>Rating:</strong>
        <% if @review.rating == false %>
          <i class="fa fa-2x fa-thumbs-down" id="down"></i>
        <% else %>
          <i class="fa fa-2x fa-thumbs-up" id="up"></i>
        <% end %>
      </li>

      <li><strong>Content:</strong> <%= @review.content %></li>

      <li><strong>Artist Name:</strong> <%= @review.artist_name %></li> 

      <li><strong>Instruments:</strong> <%= @review.instruments %></li>

      <li>More Info: <%= @review.add_info %></li>
    
    </ul>

  </div>
</div>
