<% if user_signed_in? && current_user.id == @review.user_id %>

<div class="col-xs-12">

  <h1>My Review</h1> 
    
  <h6><%= link_to("See My Profile", profile_path(current_user.profile.id), method: :get ) %></h6>

  <h6><%= link_to("Edit This Review", edit_station_review_path(@review.station.id, @review.id), method: :get) %></h6>

</div>

<% else %>

  <div class="col-xs-12">

    <h1>Review Left By: <%= link_to(@username, profile_path(@profile), method: :get ) %></h1>

  </div>

<% end %>

<div class="row adjust">
  <div class="col-xs-12"></div>

    <ul>

      <li>Title: <%= @review.title %></li>

      <li>Date Seen: <%= @review.date_seen.strftime("%-m/%-d/%Y") %></li>

      <li class="rating">
        Rating:
        <% if @review.rating == false %>
          <i class="fa fa-5x fa-thumbs-down" id="down"></i>
        <% else %>
          <i class="fa fa-5x fa-thumbs-up" id="up"></i>
        <% end %>
      </li>

      <li>Content: <%= @review.content %></li>

      <li>Artist Name: <%= @review.artist_name %></li> 

      <li>Instruments: <%= @review.instruments %></li>

      <li>More Info: <%= @review.add_info %></li>
      <br>

      <li><%= image_tag(@review.avatar.url(:medium)) %></li>

    </ul>

      

  </div>
</div>
