<div class="col-xs-12">
  <h1 class="heading"><%= link_to(@station_with_line, station_path(@review.station.id), method: :get) %><h1>
</div>

<% if user_signed_in? && current_user.id == @review.user_id %>

  <div class="col-xs-12">

    <div><span class="heading">My Review </span><%= link_to('<i class="fa fa-2x fa-pencil-square"></i>'.html_safe, edit_station_review_path(@review.station.id, @review.id), method: :get) %><%= link_to('<i class="fa fa-2x fa-user"></i>'.html_safe, profile_path(current_user.profile.id), method: :get ) %></div> 
      
  </div>

<% else %>

  <div class="col-xs-12">

    <h1>Review Left By: <%= link_to(@username, profile_path(@profile), method: :get ) %></h1>

  </div>

<% end %>

<div class="row adjust">
  <div class="col-xs-12"></div>
</div>

<div class="row edit-profile">
  <div class="col-xs-4"><strong>Title:</strong></div>
  <div class="col-xs-6"><%= @review.title %></div>
</div>

<div class="row edit-profile">
  <div class="col-xs-4"><strong>Date Seen:</strong></div> 
  <div class="col-xs-6"><%= @review.date_seen.strftime("%-m/%-d/%Y") %></div>
</div>

  <br>

<div class="row edit-profile col-xs-12">
  
  <%= image_tag(@review.avatar.url(:medium), class: "avatar-pic") %>

</div>

<div class="row edit-profile">
  <div class="col-xs-4"><strong>Rating:</strong></div>
  <div class="col-xs-6">
    <% if @review.rating == false %>
      <i class="fa fa-2x fa-thumbs-down" id="down"></i>
    <% else %>
      <i class="fa fa-2x fa-thumbs-up" id="up"></i>
    <% end %>
  </div>
</div>


<div class="row edit-profile">
  <div class="col-xs-4"><strong>Content:</strong></div> 
  <div class="col-xs-6"><%= @review.content %></div>
</div>

<div class="row edit-profile">
  <div class="col-xs-4"><strong>Artist Name:</strong></div>
  <div class="col-xs-6"><%= @review.artist_name %></div>
</div> 


<div class="row edit-profile">
  <div class="col-xs-4"><strong>Instruments:</strong></div>
  <div class="col-xs-6"><%= @review.instruments %></div>
</div>

<div class="row edit-profile">
  <div class="col-xs-4"><strong>More Info:</strong></div>
  <div class="col-xs-"><%= @review.add_info %></div>
</div>

