<!DOCTYPE html>
<html>
<head>
  <title>Busker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#buskerNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">Buddha Busker</a>
    </div>

    <!-- If User is Logged in -->
    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="buskerNav">
        <ul class="nav navbar-nav">
  				<li><%= link_to "Stations", root_path %></li>
          <li><%= link_to "Profile", profile_path(current_user) %></li>
          <li><%= link_to "Reviews", my_reviews_path %></li>
          <li><%= link_to "About",   '#' %></li> 
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        </ul>

        <ul class ="nav navbar-nav navbar-right">
  	      <div class="input-group">
  			    <input type="text" class="form-control" placeholder="Search for...">
  			   <span class="input-group-btn">
  			     <button class="btn btn-default" type="button">Go!</button>
  			   </span>
  			  </div>
        </ul>
      </div>

    <% else %>
    <!-- If User is logged out -->
       <div class="collapse navbar-collapse" id="buskerNav">
        <ul class="nav navbar-nav">
          <li><%= link_to "Stations", root_path %></li>
          <li><%= link_to "Reviews", reviews_path %></li>
          <li><%= link_to "About",   '#' %></li> 
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>

        <ul class ="nav navbar-nav navbar-right">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
           <span class="input-group-btn">
             <button class="btn btn-default" type="button">Go!</button>
           </span>
          </div>
        </ul>
      </div>
    <% end %>
  </div>
</nav>


<%= yield %>

</body>
</html>
