<!DOCTYPE html>
<html>
<head>
  <title>Buddha Busker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat|Asap' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#buskerNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">Buddha Busker</a>
    </div>

      <div class="collapse navbar-collapse" id="buskerNav">
        <ul class="nav navbar-nav">
          <li><%= link_to "Stations", root_path %></li>

          <% if user_signed_in? %>

          <li class="dropdown">  
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Profiles<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "My Profile", profile_path(current_user.profile.id) %></li>
              <li><%= link_to "All Profiles", profiles_path %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Reviews<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Reviews", my_reviews_path %></li>
                <li><%= link_to "All Reviews", reviews_path %></li>
              </ul>
          </li>

          <% else %>
            <li><%= link_to "Profiles", profiles_path %></li>
            <li><%= link_to "Reviews", reviews_path %></li>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          
            <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <% end %>
        </ul>

        <ul class ="nav navbar-nav navbar-right">
  	     <form role="form" action="/results" method="post" id="search_form">  
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." name="query" id="search_field">
              <span class="input-group-btn">

                <script type="text/javascript">
                  function search_submit() {
                    $("#search_form").submit()  
                  }
                </script>
                
                <button class="btn btn-default" id="search_button" type="button" onclick="search_submit()">Go!</button>
              </span>
            </div>
          </form>  
        </ul>
      
      </div>

  </div>
</nav>


<%= yield %>

</body>
</html>
